input, textarea {
  font-size: 125%;
  padding: 5px;
  background-color:  #fff;
  width: 300px;
}

textarea {
  background-color:  #000;
  color:#fff;
  resize: none;
  height: 150px;
  overflow:hidden;
}

.hint {
  color: #ACACAC;
  padding: 10px 0;
  font-size: 14px;
}

.error {
  color: red;
}

.container {
  height: 400px;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
body {
  background-color:  #FFF0E0;
  font-family: sans-serif;
}
